/* NAV */
.navbar-dark .navbar-brand {
    color: #fff;
}
.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}
@media (min-width: 992px){
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}
.bg-primary {
    background-color: #0d6efd !important;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
/* NAV */

/* NAVBAR COLLAPSE */
.collapse:not(.show) {
    /* display: none; */
}
.navbar-collapse {
    display: flex;
    align-items: center;
}

/* NAVBAR COLLAPSE */

/* .me-auto {
    margin-right: auto !important;
} */

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.55);
}
.nav-link {
    /* display: block; */
    padding: 5px;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
li a {
    color: #0d6efd;
    text-decoration: underline;
}