.modal-body
{
    margin: 10px;
}
.modal-body input
{
    margin:10px;
}
.modal-body select
{
    margin:10px;
}
.actions-menu-content
{
    display: flex;
    justify-content: space-between;
}
.actions-menu-content > button.btn.btn-primary
{
    height: 40px;
}
.alert{
    display: none;
}